{% extends '../layout.html' %}

{% block title %}{% endblock %}
{% block content %}
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class='nav-link'><a id='all-books' href='javascript:void(0)'>All Books</a></li>
        <li class='nav-link more'>
          <a href='javascript:void(0)'>Sort by Genre</a>
          <ul class='submenu'>
            {% for genre in genreList %}
            <li><a id='{{ genre.genre }}' class='genre-link' href='javascript:void(0)'>{{ genre.genre }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="text" id='book-search' placeholder="Enter Search" />
        </form>
      </div>
    </div>
  </div>
</header>

<section class='container'>
  <aside>
      <ul>
        <a href='/books'><li><h4>Books</h4><img src='http://placehold.it/100x100'></li></a>
        <a href='/authors'><li><h4>Authors</h4><img src='http://placehold.it/100x100'></li></a>
      </ul>
    </nav>
  </aside>
  <section>
    <p> Total # of Books in Library: {{ bookCount }}</p>
  </section>
  <section id='book-list' class='list'>
  </section>
  <div class="pagination">
    <ul>
      <li class="page-prev"><a href="">Prev</a></li>
      <li>
        <ul id="page-list">
        </ul>
      </li>
      <li class="page-next"><a href="">Next</a></li>
    </ul>
  </div>
</section>

{% endblock %}
