{% extends '../layout.html' %}

{% block title %}{% endblock %}
{% block content %}

<section class='container'>
  <aside>
    <nav>
      <ul>
        <a href='/books'><li><h4>Books</h4><img src='http://placehold.it/100x100'></li></a>
        <a href='/authors'><li><h4>Authors</h4><img src='http://placehold.it/100x100'></li></a>
      </ul>
    </nav>
  </aside>
  <section>
    <p> Total # of Books in Library: {{ bookCount }}</p>
  </section>
  <section id='book-list' class='list'>
  </section>
</section>

{% endblock %}
