{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  <section class='container'>
    <section>
      <p> Total # of Items in Search: {{ searchCount }}</p>
    </section>
    <section id='item-list' class='list'>
      <h3>Welcome to Galvanize Reads! Please click an option or enter a search above!</h3>
    </section>
  </section>
  <div class="pagination">
    <ul>
      <li>
        <ul id="page-list">
        </ul>
      </li>
    </ul>
  </div>

{% endblock %}
