{% extends '../layout.html' %}

{% block title %}{% endblock %}
{% block content %}
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class='nav-link'><a id='all-authors' href='javascript:void(0)'>All Authors</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="text" id='author-search' placeholder="Enter Search" />
        </form>
      </div>
    </div>
  </div>
</header>
<section class='container'>
  <aside>
    <nav>
      <ul>
        <a href='/books'><li><h4>Books</h4><img src='http://placehold.it/100x100'></li></a>
        <a href='/authors'><li><h4>Authors</h4><img src='http://placehold.it/100x100'></li></a>
      </ul>
    </nav>
  </aside>
  <section>
    <p> Total # of Authors in Library: {{ authorCount }}</p>
  </section>
  <section id='author-list' class='list'>
  </section>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/authorList.js"></script>
{% endblock $}
